* {
    box-sizing: border-box;
    /* border: #ff0000 1px solid; */
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
}

.animations {
    margin: 0 20px;
    width: 75px;
    aspect-ratio: 1;
}

/* ====================================================== */
/* circle-spinner animations */
/* ====================================================== */
.circle-spinner {
    position: relative;
    width: 75%;
    aspect-ratio: 1;
    background-color: #000000;
    filter: blur(2px) contrast(6);
    animation: circle-spinner 2000ms ease-in-out infinite;
}

.circle-spinner .circle {
    position: absolute;
}

.circle-spinner .circle:nth-of-type(1) {
    top: 3px;
    left: 3px;
}

.circle-spinner .circle:nth-of-type(2) {
    top: 3px;
    right: 3px;
}

.circle-spinner .circle:nth-of-type(3) {
    bottom: 3px;
    right: 3px;
}

.circle-spinner .circle:nth-of-type(4) {
    bottom: 3px;
    left: 3px;
}

@keyframes circle-spinner {
    0% {width: 16px; transform: rotate(0deg);}
    15% {width: 16px; transform: rotate(0deg);}
    35% {width: 90%; transform: rotate(10deg);}
    65% {width: 100%; transform: rotate(270deg);}
    90% {width: 22px; transform: rotate(300deg);}
    100% {width: 16px; transform: rotate(300deg);}
}

/* ====================================================== */
/* glitch-circles animations */
/* ====================================================== */
.glitch-circles {
    position: relative;
    width: 50px;
    height: 30px;
    aspect-ratio: 1;
}

.glitch-circles .circle {
    position: absolute;
    border-radius: 10px;
    top: 0;
    animation: glitch-circle-animation 2000ms ease-in-out infinite;
}

.glitch-circles .circle:nth-of-type(1) {
    left: 0;
    animation-delay: 0ms;
}

.glitch-circles .circle:nth-of-type(2) {
    left: 14px;
    animation-delay: 150ms;
}

.glitch-circles .circle:nth-of-type(3) {
    right: 13px;
    animation-delay: 300ms;
}

.glitch-circles .circle:nth-of-type(4) {
    right: 0;
    animation-delay: 450ms;
}

@keyframes glitch-circle-animation {
    0% {top: 0; height: 8px;}
    40% {height: 18px;}
    50% {height: 8px;}
    52% {top: 100%; height: 8px;}
    53% {top: unset; bottom: 0; height: 8px;}
    90% {top: 100%; bottom: unset; height: 18px;}
    100% {top: 0; height: 8px;}
}

/* ====================================================== */
/* circles-bouncing animations */
/* ====================================================== */
.circles-bouncing {
    position: relative;
    width: 50px;
    height: 30px;
    aspect-ratio: 1;
}

.circles-bouncing .circle {
    position: absolute;
    border-radius: 10px;
    bottom: 100%;
    animation: circles-bouncing 1500ms ease-in-out infinite;
}

.circles-bouncing .circle:nth-of-type(1) {
    left: 0;
    animation-delay: 0ms;
}

.circles-bouncing .circle:nth-of-type(2) {
    left: 14px;
    animation-delay: 150ms;
}

.circles-bouncing .circle:nth-of-type(3) {
    right: 13px;
    animation-delay: 300ms;
}

.circles-bouncing .circle:nth-of-type(4) {
    right: 0;
    animation-delay: 450ms;
}

@keyframes circles-bouncing {
    0% {bottom: 100%; height: 8px;}
    40% {bottom: 0%; height: 8px;}
    45% {bottom: 0%; height: 5px;}
    60% {bottom: 0%; height: 5px;}
    66% {height: 8px;}
    100% {bottom: 100%; height: 8px;}

}

/* ====================================================== */
/* circles-stretching animations */
/* ====================================================== */
.circles-stretching {
    position: relative;
    width: 50px;
    aspect-ratio: 1;
}

.circles-stretching .circle {
    position: absolute;
    border-radius: 10px;
    animation: circles-stretching 1900ms ease-in-out infinite;
}

.circles-stretching .circle:nth-of-type(1) {
    left: 0;
    animation-delay: 0ms;
}

.circles-stretching .circle:nth-of-type(2) {
    left: 14px;
    animation-delay: 120ms;
}

.circles-stretching .circle:nth-of-type(3) {
    right: 13px;
    animation-delay: 260ms;
}

.circles-stretching .circle:nth-of-type(4) {
    right: 0;
    animation-delay: 380ms;
}

/* ! start here *********************** */
@keyframes circles-stretching {
    0% {top: 0%; bottom: unset; height: 8px;}
    25% {top: 0%; height: 8px;}
    30% {height: 25px;}
    50% {top: calc(100% - 8px); bottom: unset; height: 8px;}
    51% {top: unset; bottom: 0%; height: 8px;}
    75% {bottom: 0%; height: 8px;}
    80% {height: 25px;}
    98% {bottom: calc(100% - 8px); height: 8px;}
    99% {top: unset; bottom: calc(100% - 8px); height: 8px;}
    100% {top: 0%; bottom: unset; height: 8px;}
}
